extends ../layout

block content
    .content
        .container
            .row
                .col-md-8.col-md-offset-2
                    .page-header
                        h1 Contacting us
                    p.
                        If you have a question or an issue using this service, you can contact us by sending an email to
                        #[a(href="mailto:writing-studio@edpsciences.org") writing-studio@edpsciences.org].
                    p.
                        f you have an authoring question related to LaTeX or one of the classes that EDP Sciences makes
                        available to you, you can get help by sending an email to
                        #[a(href="mailto:tex-support@edpsciences.org") tex-support@edpsciences.org].
