extends ../layout

block content
    .content
        .container
            .row
                .col-md-8.col-md-offset-2
                    .page-header
                        h1 Terms of service
                    p.
                        In using EDP Sciences Writing Studio #[a(href="/")= "http://writingstudio.aws.edpsciences.org/"]
                         you are deemed to have read and agreed to the following terms and conditions.
                    p.
                        #[a(href="http://publications.edpsciences.org/") EDP Sciences] may update and change these
                        terms and conditions from time to time and without notice.
                        Violation of any of the terms below will result in the termination of the user's Account.

                    h3 EDP Sciences Writing Studio Service
                    p.
                        Writing Studio is a free Service, available to help EDP Sciences authors to write
                        and share their articles with their co-authors.
                    p.
                        EDP Sciences is assuming users will act in good faith and will use this Service to write articles
                        to be published in the EDP Sciences journals.
                        Therefore, EDP Sciences retains the right to remove any account or content that EDP Sciences
                        thinks is abusing this Service; in particular, authors using the Writing Studio to write articles
                        for journals not submitted primarily to EDP Sciences journals.
                        This will result in the deletion of the account with all content associated.
                    p.
                        EDP Sciences reserves the right at any time and from time to time to modify or discontinue,
                        temporarily (technical maintenance) or permanently, this Service.
                    p.
                        Writing Studio is provided on an 'as is' basis and EDP Sciences is not liable for any damages
                        caused by the loss or inability to access the data.

                    h3 Registering
                    p.
                        User must be a human, bots or automatized scripts are not permitted.
                    p.
                        The user must provide theirs legal ORCID number, full name, valid email address,
                        and any other information requested in order to complete the sign-up process.
                    p.
                        One user may not maintain more than one account.
                    p.
                        The user may not use the Service for any unauthorized purpose: this Service is reserved to
                        authors and articles submitted primarily to EDP Sciences journals. Articles written using EDP
                        Sciences Writing Studio but not accepted by an EDP Sciences Journal could be proposed
                        to an another publisher.
                    p.
                        User is responsible for maintaining the security of his account and password.
                        The user agrees not to disclose his password to any third party and is responsible for any
                        activity using his account. He should immediately notify EDP Sciences of any unauthorized use
                        of his account.

                    h3 General conditions
                    p.
                        User must not adapt or hack this Website.
                    p.
                        The user owns all the content he creates.
                        EDP Sciences claims no intellectual property rights over these materials.
                        EDP Sciences is not responsible for any content posted by the user on the Website.
                    p.
                        EDP Sciences cannot guarantee and cannot be held responsible for the security or privacy
                        of the Website and any information provided by the user, the risk associated with the use
                        of the internet exists.
                        In particular, EDP Sciences will not be liable for any damage or loss caused by a distributed
                        denial-of- Service attack, any viruses trojans, worms or other material which is malicious or
                        technologically harmful that may infect the user’s computer, peripheral computer equipment,
                        computer programs, data or other proprietary material as a result of your use of the Website.
                    p.
                        User must not upload spyware or any other malicious software to the Service.
                    p.
                        Writing Studio allows the user to share their projects (text, figures, data, etc.) with their
                        co-authors.
                        Please consider carefully what you share and with who.
                        The user and not EDP Sciences is responsible for that activity.
                    p.
                        To terminate an account, a user may contact EDP Sciences directly at
                        #[a(href="mailto:writing-studio@edpsciences.org") writing-studio@edpsciences.org].
                        All of the content and data of the account will be immediately deleted from the Website upon
                        cancellation.
                    p.
                        If you have a comment, concern or complaint about the Service, please contact us via email at
                         #[a(href="mailto:writing-studio@edpsciences.org") writing-studio@edpsciences.org]
