extends ../layout

block content
    .content.content-alt
        .container
            .row
                .registration_message
                    h1 #{translate("registration_disabled")}

                    div #{translate("already_have_sl_account")}
                        a(href="/login")  #{translate("login_here")}
