extends ../layout

block content
    .content.content-alt
        .container
            .row
                .registration_message
                    h1 #{translate("registration_disabled")}

                    if !disableOrcidRegistration
                        p #{translate("orcid_registration_enabled")}

                    div #{translate("already_have_ws_account")}
                        a(href="/login")  #{translate("login_here")}
