//
   Created by xtrochu on 03/02/15.
html
    head
        script(language="text/javascript").
            document.addEventListener('ready', function () {
                window.opener.location.href = "#{redirect}";
                self.close()
            })
    body.
        Closing window...
